# needed to prevent bad npm that has min-release-age but not exclude
engine-strict=true

min-release-age=14

# fast-uri 3.1.5 includes fixes for vulns (GHSA-7p8r-x3mc-p8w7). remove this when 3.1.5 is > 2wks old (rel 2026-07-31)
min-release-age-exclude[]=fast-uri

# qs 6.16.0 includes fixes for GHSA-4mjr-xmp4-gh2g, GHSA-x5fp-wj9c-mxmx. remove this when > 2wks old (rel 2026-08-29)
min-release-age-exclude[]=qs
