# needed to prevent bad npm that has min-release-age but not exclude
engine-strict=true

min-release-age=14

# dompurify 3.4.16 fixes GHSA-p98j-92pf-mc4p. remove this when 3.4.16 is > 2wks old (rel 2026-09-23)
min-release-age-exclude[]=dompurify
